SchemaFetcher/Web References/AR303000/AR303000.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acumatica.com/typed/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.acumatica.com/typed/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acumatica.com/typed/">
      <s:element name="Clear">
        <s:complexType />
      </s:element>
      <s:element name="ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcessResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ProcessStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Seconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotExists" />
          <s:enumeration value="InProcess" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Aborted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Commit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IgnoreError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedCommand" type="tns:Command" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:ElementDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ElementDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsDisabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="String" name="ElementType" type="tns:ElementTypes" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="LengthLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InputMask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRules" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Container" type="tns:Container" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionIcon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldPriority" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ButtonType" type="tns:PXSpecialButtonType" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkCommand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementTypes">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="AsciiString" />
          <s:enumeration value="StringSelector" />
          <s:enumeration value="ExplicitSelector" />
          <s:enumeration value="Number" />
          <s:enumeration value="Option" />
          <s:enumeration value="WideOption" />
          <s:enumeration value="Calendar" />
          <s:enumeration value="Action" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Container">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfField" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:ArrayOfCommand" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Value">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsError" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PXSpecialButtonType">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="Save" />
          <s:enumeration value="SaveNotClose" />
          <s:enumeration value="Cancel" />
          <s:enumeration value="Refresh" />
          <s:enumeration value="Report" />
          <s:enumeration value="First" />
          <s:enumeration value="Next" />
          <s:enumeration value="Prev" />
          <s:enumeration value="Last" />
          <s:enumeration value="Insert" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Approve" />
          <s:enumeration value="ApproveAll" />
          <s:enumeration value="Process" />
          <s:enumeration value="ProcessAll" />
          <s:enumeration value="EditDetail" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="EveryValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeleteRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RowNumber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Key">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Answer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Action">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NewRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSummary" type="tns:CustomerSummary" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfo" type="tns:GeneralInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfoFinancialSettings" type="tns:GeneralInfoFinancialSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfoCreditVerificationRulesCreditVerification" type="tns:GeneralInfoCreditVerificationRulesCreditVerification" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsBillToContactSameAsMain" type="tns:BillingSettingsBillToContactSameAsMain" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsBillToAddressSameAsMain" type="tns:BillingSettingsBillToAddressSameAsMain" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsPrintAndEmailSettings" type="tns:BillingSettingsPrintAndEmailSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsDefaultPaymentMethodDefaultPaymentMethod" type="tns:BillingSettingsDefaultPaymentMethodDefaultPaymentMethod" />
          <s:element minOccurs="0" maxOccurs="1" name="GLAccountsCashDiscountAccount" type="tns:GLAccountsCashDiscountAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfoMainAddress" type="tns:GeneralInfoMainAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsBillToAddress" type="tns:BillingSettingsBillToAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfoMainContact" type="tns:GeneralInfoMainContact" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsShippingContact" type="tns:DeliverySettingsShippingContact" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsBillToContact" type="tns:BillingSettingsBillToContact" />
          <s:element minOccurs="0" maxOccurs="1" name="Locations" type="tns:Locations" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsShippingContactSameAsMain" type="tns:DeliverySettingsShippingContactSameAsMain" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsShippingAddress" type="tns:DeliverySettingsShippingAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsDefaultLocationSettings" type="tns:DeliverySettingsDefaultLocationSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsShippingInstructions" type="tns:DeliverySettingsShippingInstructions" />
          <s:element minOccurs="0" maxOccurs="1" name="GLAccounts" type="tns:GLAccounts" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="tns:Contacts" />
          <s:element minOccurs="0" maxOccurs="1" name="Salespersons" type="tns:Salespersons" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSummaryBalance" type="tns:CustomerSummaryBalance" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralInfoCreditVerificationRules" type="tns:GeneralInfoCreditVerificationRules" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverySettingsShippingInstructionsCarrierAccounts" type="tns:DeliverySettingsShippingInstructionsCarrierAccounts" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsDefaultPaymentMethod" type="tns:BillingSettingsDefaultPaymentMethod" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethods" type="tns:PaymentMethods" />
          <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:Attributes" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSettingsDefaultPaymentMethodPaymentMethodDetails" type="tns:BillingSettingsDefaultPaymentMethodPaymentMethodDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingSettingsMailings" type="tns:MailingSettingsMailings" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingSettingsRecipients" type="tns:MailingSettingsRecipients" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecifyNewID" type="tns:SpecifyNewID" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="tns:Field" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:FilterCondition" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:FilterOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FilterCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="Greater" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="Less" />
          <s:enumeration value="LessOrEqual" />
          <s:enumeration value="Contain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="Between" />
          <s:enumeration value="IsNull" />
          <s:enumeration value="IsNotNull" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FilterOperator">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="INVALID_CREDENTIALS" />
          <s:enumeration value="INTERNAL_ERROR" />
          <s:enumeration value="INVALID_API_VERSION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBusinessDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBusinessDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetLocaleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLocaleNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSchemaMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:SchemaMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SchemaMode">
        <s:restriction base="s:string">
          <s:enumeration value="Basic" />
          <s:enumeration value="Detailed" />
          <s:enumeration value="DetailedWithHidden" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetSchemaModeResponse">
        <s:complexType />
      </s:element>
      <s:complexType name="PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NavigateToList" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Save" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Insert" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyDocumentEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PasteDocumentEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTemplateEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Delete" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Prev" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewContact" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewContact" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewLocation" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewLocation" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SetDefault" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewMainOnMap" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewDefLocationOnMap" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewTask" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewEvent" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewMailActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenActivityOwner" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewAllActivities" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ENewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="MNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="RNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="WNewActivity" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewRestrictionGroups" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewVendor" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewBusnessAccount" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendToVendor" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerDocuments" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="StatementForCustomer" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewPaymentMethod" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="AddPaymentMethod" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewInvoiceMemo" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewSalesOrder" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPayment" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="WriteOffBalance" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewBillAddressOnMap" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="RegenerateLastStatement" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewVendorAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewBusnessAccountAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewInvoiceMemoAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewSalesOrderAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPaymentAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="WriteOffBalanceAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendToVendorAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewRestrictionGroupsAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="RegenerateLastStatementAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidateAddressesAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerDocumentsInquiry" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="StatementForCustomerInquiry" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesPriceInquiry" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBalanceByCustomerReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerHistoryReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARAgedPastDueReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARAgedOutstandingReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRegisterReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerDetailsReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerStatementReport" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBalanceByCustomer" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerHistory" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARAgedPastDue" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARAgedOutstanding" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRegister" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerDetails" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerStatement" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesPrice" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidateAddresses" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeID" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ResetListNavigation" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerSummaryServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCustomerID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryCustomerID" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="FilterPhone1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FilterCity" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FilterCountry" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FilterEmail" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:CustomerSummaryServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountRef" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentRecord" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoFinancialSettingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoFinancialSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerClass" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Terms" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="StatementCycleID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AutoApplyPayments" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyOverdueCharges" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EnableWriteOffs" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="WriteOffLimit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EnableCurrencyOverride" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrRateType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EnableRateOverride" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoFinancialSettingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoCreditVerificationRulesCreditVerificationServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoCreditVerificationRulesCreditVerification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditVerification" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditLimit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditDaysPastDue" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoCreditVerificationRulesCreditVerificationServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToContactSameAsMainServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToContactSameAsMain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SameAsMain" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsBillToContactSameAsMainServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToAddressSameAsMainServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToAddressSameAsMain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SameAsMain" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsBillToAddressSameAsMainServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsPrintAndEmailSettingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsPrintAndEmailSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintInvoices" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SendInvoicesByEmail" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintStatements" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SendStatementsByEmail" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="MultiCurrencyStatements" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="StatementType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsPrintAndEmailSettingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethodDefaultPaymentMethodServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethodDefaultPaymentMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultPaymentMethod" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsDefaultPaymentMethodDefaultPaymentMethodServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccountsCashDiscountAccountServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccountsCashDiscountAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CashDiscountAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CashDiscountSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PrepaymentAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PrepaymentSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="COGSAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="COGSSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GLAccountsCashDiscountAccountServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoMainAddressServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoMainAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Validated" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoMainAddressServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToAddressServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsValidated" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsBillToAddressServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoMainContactServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoMainContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Attention" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Web" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoMainContactServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingContactServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Attention" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Web" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsShippingContactServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToContactServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsBillToContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsBillToContactServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyLocationID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDefault" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxZone" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceClassID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:LocationsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingContactSameAsMainServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingContactSameAsMain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SameAsMain" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsShippingContactSameAsMainServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingAddressServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SameAsMain" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Validated" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsShippingAddressServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsDefaultLocationSettingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsDefaultLocationSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxRegistrationID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxZone" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityUsageType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingBranch" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceClassID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsDefaultLocationSettingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingInstructionsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingInstructions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Warehouse" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipVia" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingTerms" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingZoneID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FOBPoint" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ResidentialDelivery" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SaturdayDelivery" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Insurance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipComplete" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderPriority" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LeadTimeDays" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsShippingInstructionsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccountsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccounts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ARSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FreightAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FreightSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GLAccountsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contacts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:ContactsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalespersonsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeySalespersonID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyLocationID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Salespersons">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalespersonID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Commission" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Default" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SalespersonsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerSummaryBalanceServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerSummaryBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PrepaymentsBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:CustomerSummaryBalanceServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoCreditVerificationRulesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralInfoCreditVerificationRules">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnreleasedBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenOrdersBalance" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RemainingCreditLimit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstInvoiceDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralInfoCreditVerificationRulesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingInstructionsCarrierAccountsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCarrier" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliverySettingsShippingInstructionsCarrierAccounts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeliverySettingsShippingInstructionsCarrierAccountsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethodServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCProcessingCenterID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCCPID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CashAccountID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsDefaultPaymentMethodServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentMethodsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentMethods">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDefault" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CashAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Override" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:PaymentMethodsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyAttribute" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attributes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Attribute" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Required" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:AttributesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethodPaymentMethodDetailsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSettingsDefaultPaymentMethodPaymentMethodDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionDetailIDPaymentMethodDetailDescr" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:BillingSettingsDefaultPaymentMethodPaymentMethodDetailsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailingSettingsMailingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyMailingID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailingSettingsMailings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailingID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Branch" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAccountEmailAddress" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Report" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationTemplate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Overridden" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:MailingSettingsMailingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailingSettingsRecipientsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailingSettingsRecipients">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:MailingSettingsRecipientsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecifyNewIDServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecifyNewID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SpecifyNewIDServiceCommands" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearSoapIn">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ClearSoapOut">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchema" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchema" />
  </wsdl:message>
  <wsdl:message name="SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ExportSoapIn">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ExportSoapOut">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSoapIn">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ImportSoapOut">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBusinessDate" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBusinessDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetLocaleName" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetLocaleNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchemaMode" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaModeResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenSoap">
    <wsdl:operation name="Clear">
      <wsdl:input message="tns:ClearSoapIn" />
      <wsdl:output message="tns:ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <wsdl:input message="tns:GetProcessStatusSoapIn" />
      <wsdl:output message="tns:GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <wsdl:input message="tns:GetSchemaSoapIn" />
      <wsdl:output message="tns:GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <wsdl:input message="tns:SetSchemaSoapIn" />
      <wsdl:output message="tns:SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input message="tns:ExportSoapIn" />
      <wsdl:output message="tns:ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input message="tns:ImportSoapIn" />
      <wsdl:output message="tns:ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input message="tns:SubmitSoapIn" />
      <wsdl:output message="tns:SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <wsdl:input message="tns:SetBusinessDateSoapIn" />
      <wsdl:output message="tns:SetBusinessDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <wsdl:input message="tns:SetLocaleNameSoapIn" />
      <wsdl:output message="tns:SetLocaleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <wsdl:input message="tns:SetSchemaModeSoapIn" />
      <wsdl:output message="tns:SetSchemaModeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenSoap" type="tns:ScreenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://www.acumatica.com/typed/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://www.acumatica.com/typed/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://www.acumatica.com/typed/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://www.acumatica.com/typed/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.acumatica.com/typed/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.acumatica.com/typed/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetLocaleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenSoap12" type="tns:ScreenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetLocaleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screen">
    <wsdl:port name="ScreenSoap" binding="tns:ScreenSoap">
      <soap:address location="https://acumatica.velixo.com/Soap/AR303000.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenSoap12" binding="tns:ScreenSoap12">
      <soap12:address location="https://acumatica.velixo.com/Soap/AR303000.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>