SchemaFetcher/Web References/IN202000/IN202000.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acumatica.com/typed/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.acumatica.com/typed/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acumatica.com/typed/">
      <s:element name="Clear">
        <s:complexType />
      </s:element>
      <s:element name="ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcessResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ProcessStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Seconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotExists" />
          <s:enumeration value="InProcess" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Aborted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Commit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IgnoreError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedCommand" type="tns:Command" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:ElementDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ElementDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsDisabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="String" name="ElementType" type="tns:ElementTypes" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="LengthLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InputMask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRules" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Container" type="tns:Container" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionIcon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldPriority" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ButtonType" type="tns:PXSpecialButtonType" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkCommand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementTypes">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="AsciiString" />
          <s:enumeration value="StringSelector" />
          <s:enumeration value="ExplicitSelector" />
          <s:enumeration value="Number" />
          <s:enumeration value="Option" />
          <s:enumeration value="WideOption" />
          <s:enumeration value="Calendar" />
          <s:enumeration value="Action" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Container">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfField" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:ArrayOfCommand" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Value">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsError" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PXSpecialButtonType">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="Save" />
          <s:enumeration value="SaveNotClose" />
          <s:enumeration value="Cancel" />
          <s:enumeration value="Refresh" />
          <s:enumeration value="Report" />
          <s:enumeration value="First" />
          <s:enumeration value="Next" />
          <s:enumeration value="Prev" />
          <s:enumeration value="Last" />
          <s:enumeration value="Insert" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Approve" />
          <s:enumeration value="ApproveAll" />
          <s:enumeration value="Process" />
          <s:enumeration value="ProcessAll" />
          <s:enumeration value="EditDetail" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="EveryValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeleteRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RowNumber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Key">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Answer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Action">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NewRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="NonStockItemSummary" type="tns:NonStockItemSummary" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralSettingsItemDefaults" type="tns:GeneralSettingsItemDefaults" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralSettingsUnitOfMeasureBaseUnit" type="tns:GeneralSettingsUnitOfMeasureBaseUnit" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceCostInformationPriceManagement" type="tns:PriceCostInformationPriceManagement" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceCostInformationRUTAndRUTSettings" type="tns:PriceCostInformationRUTAndRUTSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceCostInformationStandardCost" type="tns:PriceCostInformationStandardCost" />
          <s:element minOccurs="0" maxOccurs="1" name="PackagingDimensions" type="tns:PackagingDimensions" />
          <s:element minOccurs="0" maxOccurs="1" name="GLAccounts" type="tns:GLAccounts" />
          <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:Attributes" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:Description" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferredRevenueRules" type="tns:DeferredRevenueRules" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralSettingsUnitOfMeasure" type="tns:GeneralSettingsUnitOfMeasure" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferredRevenueRevenueComponents" type="tns:DeferredRevenueRevenueComponents" />
          <s:element minOccurs="0" maxOccurs="1" name="CrossReference" type="tns:CrossReference" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorDetails" type="tns:VendorDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="AttributesAttributes" type="tns:AttributesAttributes" />
          <s:element minOccurs="0" maxOccurs="1" name="AttributesSalesCategories" type="tns:AttributesSalesCategories" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecifyNewID" type="tns:SpecifyNewID" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="tns:Field" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:FilterCondition" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:FilterOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FilterCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="Greater" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="Less" />
          <s:enumeration value="LessOrEqual" />
          <s:enumeration value="Contain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="Between" />
          <s:enumeration value="IsNull" />
          <s:enumeration value="IsNotNull" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FilterOperator">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="INVALID_CREDENTIALS" />
          <s:enumeration value="INTERNAL_ERROR" />
          <s:enumeration value="INVALID_API_VERSION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBusinessDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBusinessDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetLocaleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLocaleNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSchemaMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:SchemaMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SchemaMode">
        <s:restriction base="s:string">
          <s:enumeration value="Basic" />
          <s:enumeration value="Detailed" />
          <s:enumeration value="DetailedWithHidden" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetSchemaModeResponse">
        <s:complexType />
      </s:element>
      <s:complexType name="PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InventoryID" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Save" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Insert" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyDocumentEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PasteDocumentEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveTemplateEdit" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Delete" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="First" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Prev" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Next" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeID" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateCostAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewRestrictionGroupsAction" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesPricesInquiry" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorPricesInquiry" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NonStockItemSummaryServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyInventoryID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryInventoryID" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NonStockItemSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemStatus" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductWorkgroup" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductManager" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:NonStockItemSummaryServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsItemDefaultsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsItemDefaults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemClass" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PostingClass" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="IsAKit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCategory" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultWarehouse" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RequireReceipt" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RequireShipment" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralSettingsItemDefaultsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsUnitOfMeasureBaseUnitServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsUnitOfMeasureBaseUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralSettingsUnitOfMeasureBaseUnitServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationPriceManagementServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationPriceManagement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceClass" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceWorkgroup" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceManager" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectToCommission" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="MinMarkup" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Markup" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="MSRP" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultPrice" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:PriceCostInformationPriceManagementServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationRUTAndRUTSettingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationRUTAndRUTSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROTOrRUTDeductibleItem" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:PriceCostInformationRUTAndRUTSettingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationStandardCostServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCostInformationStandardCost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingCost" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingCostDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentCost" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastCost" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:PriceCostInformationStandardCostServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackagingDimensionsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackagingDimensions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Weight" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="WeightUOM" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Volume" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="VolumeUOM" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:PackagingDimensionsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccountsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLAccounts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpenseAccrualAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpenseAccrualSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ReasonCodeSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpenseAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpenseSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="POAccrualAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="POAccrualSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchasePriceVarianceAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchasePriceVarianceSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GLAccountsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attributes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:AttributesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DescriptionServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Description">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DescriptionServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeferredRevenueRulesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeferredRevenueRules">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferralCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SplitIntoComponents" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="UseComponentSubaccounts" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPercentage" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeferredRevenueRulesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsUnitOfMeasureServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyFromUnit" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralSettingsUnitOfMeasure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="MultiplyDivide" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ConversionFactor" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ToUnitSampleToUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:GeneralSettingsUnitOfMeasureServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeferredRevenueRevenueComponentsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyInventoryID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeferredRevenueRevenueComponents">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesSub" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="UOM" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DeferralCode" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AmountOption" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FixedAmount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Percentage" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:DeferredRevenueRevenueComponentsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrossReferenceServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeySubitem" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyAlternateType" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyVendorCustomer" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyAlternateID" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrossReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subitem" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCustomer" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:CrossReferenceServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VendorDetailsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VendorDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Default" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseUnit" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorInventoryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastVendorPrice" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:VendorDetailsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesAttributesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyAttribute" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesAttributes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Attribute" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Required" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:AttributesAttributesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesSalesCategoriesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCategory" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttributesSalesCategories">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:AttributesSalesCategoriesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecifyNewIDServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecifyNewID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SpecifyNewIDServiceCommands" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearSoapIn">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ClearSoapOut">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchema" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchema" />
  </wsdl:message>
  <wsdl:message name="SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ExportSoapIn">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ExportSoapOut">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSoapIn">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ImportSoapOut">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBusinessDate" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBusinessDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetLocaleName" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetLocaleNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchemaMode" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaModeResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenSoap">
    <wsdl:operation name="Clear">
      <wsdl:input message="tns:ClearSoapIn" />
      <wsdl:output message="tns:ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <wsdl:input message="tns:GetProcessStatusSoapIn" />
      <wsdl:output message="tns:GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <wsdl:input message="tns:GetSchemaSoapIn" />
      <wsdl:output message="tns:GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <wsdl:input message="tns:SetSchemaSoapIn" />
      <wsdl:output message="tns:SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input message="tns:ExportSoapIn" />
      <wsdl:output message="tns:ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input message="tns:ImportSoapIn" />
      <wsdl:output message="tns:ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input message="tns:SubmitSoapIn" />
      <wsdl:output message="tns:SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <wsdl:input message="tns:SetBusinessDateSoapIn" />
      <wsdl:output message="tns:SetBusinessDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <wsdl:input message="tns:SetLocaleNameSoapIn" />
      <wsdl:output message="tns:SetLocaleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <wsdl:input message="tns:SetSchemaModeSoapIn" />
      <wsdl:output message="tns:SetSchemaModeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenSoap" type="tns:ScreenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://www.acumatica.com/typed/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/typed/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://www.acumatica.com/typed/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://www.acumatica.com/typed/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://www.acumatica.com/typed/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.acumatica.com/typed/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.acumatica.com/typed/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetLocaleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap:operation soapAction="http://www.acumatica.com/typed/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenSoap12" type="tns:ScreenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/typed/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.acumatica.com/typed/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetLocaleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap12:operation soapAction="http://www.acumatica.com/typed/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screen">
    <wsdl:port name="ScreenSoap" binding="tns:ScreenSoap">
      <soap:address location="https://acumatica.velixo.com/Soap/IN202000.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenSoap12" binding="tns:ScreenSoap12">
      <soap12:address location="https://acumatica.velixo.com/Soap/IN202000.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>